.navbar-g{
    background-color: rgb(14, 14, 14);
}

.quem-somos p{
    padding-top: 10px;
}

#parceiros{
    background-color: rgb(229, 255, 0);
}

.margem{
    padding-top: 20px;
    padding-bottom: 20px;
}

.bg-footer{
    background-color: tomato;
}